.grouping {
    background-color: #f7f7f7;
}
.row {
    display: flex;
    justify-content: space-between;
    text-align: right;
    padding-left: 30px;
    padding-right: 30px;

    .grouping-title {
        font-weight: bolder;
    }

    .grouping-button {
        background-color: #ea5455;
        color: white;
        padding: 5px 20px;
        margin: 10px 0px;
        font-size: 10px;   
        border: none; 
    }
}

.groups-info{
    background-color:#f7f7f7;
    border: 1px solid #929aab;
    margin: 0px 10px 10px 10px;

    .title-info{
        background-color:#929aab;
        color: white;
        text-align: center;
        margin: 0px 0px 10px 0px;
        padding: 3px;
    }
    .show-studentname{
        display: inline;
    }
    .students-info{
        background-color: #eeeeee;
        border: none;
        padding: 5px;
        margin: 0px 5px 10px 10px;
        width: 86px;
    }
}

.list-title{
    font-weight: bolder;
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
}
.students{
    padding-left: 30px;
    padding-right: 30px;
    .student-name{
        background-color: #eeeeee;
        border: none;
        padding: 5px;
        margin: 0px 5px 10px 10px;
        width: 86px;
    }
    .add-student {
        border: 1px solid #929aab;
        padding: 5px;
        margin: 0px 5px 10px 10px;
        width: 86px;
        background-color: #f7f7f7;
    }
}
